[submodule "src/core"]
	path = src/core
	url = https://github.com/evandor/submodule-core.git
	branch = main
[submodule "src/snapshots"]
	path = src/snapshots
	url = https://github.com/evandor/submodule-snapshots.git
	branch = main
